body {
    font-family: "Open Sans", sans-serif;
    line-height:normal;
  }
  

table {
  border: 1px solid #ccc;
  border-collapse:collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 285px;
  table-layout:fixed;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
}

table td {
  font-size: 80%;
  text-align: left;
  position: relative;
}

table th {
  font-size: 80%;
  text-align: left;
}
table.table.table-bordered {
  background-color: #ffffff;
  border-width:medium;
  border-color: #673939;
}
div.operations button {
        font-family: monospace;
        font-weight:bold;
        width: 9rem;
        text-align: left;
}
.table-bordered thead th{
    border-bottom-color: #673939;
    border-bottom-width: 100%;
}

.rtable.table-bordered{
  border-width: medium;
  line-height:  180%;
  border-color:#673939;
}
@media screen and (max-width: 992px){
  table th{
font-size: 50%;
text-align:left;
font-weight:600;
  }
  table td {
    font-size: 55%;
    text-align: left;
  }
  .rtable.table-bordered{
    border-width: medium;
    line-height:  150%;
    border-color:#673939;
  }

}
@media screen and (max-width: 769px){
  table th{
font-size: 65%;
text-align:left;
font-weight:600;
  }
  table td {
    font-size: 70%;
    text-align: left;
  }
  #anku{
    font-size: 100%;
  }

}

 @media screen and (max-width: 490px){
    table th{
  font-size: 55%;
  text-align:left;
  font-weight:600;
    }
    table td {
      font-size: 55%;
      text-align: left;
    }
    #anku{
      font-size: 90%;
    }
    .rtable.table-bordered{
      border-width: medium;
      line-height:  120%;
      border-color:#673939;
    }
  }

  @media screen and (max-width: 445px){
    table th{
  font-size: 45%;
  text-align:left;
  font-weight:600;
    }
    table td {
      font-size: 55%;
      text-align: left;
    }
    #anku{
      font-size: 70%;
    }
  }
#five-switch a {
    color: black;
    text-decoration: none;
}

#four-switch a {
    color: black;
    text-decoration: none;
}
#main-heading {
  align-content: center;
  text-transform: uppercase;
  font-weight: lighter; ;
  font-size: 2rem;
  color: #673939;
}

.message {
    text-align: center;
    background-color: yellow;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4vw;
}

#anku{
  font-size: 120%;
}